<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>

  .header{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  a{
    text-decoration: none;
  }
</style>
<body>
  <div class="header">
    <div>Start explore </div>

    <from action="get">
      <a href="member_path">
        <input type="submit" value="login" >
      </a>
      <a href="shop_page_path">
        <input type="submit" value="look around" >
      </a>
    </from>
  </div>
  
</body>
</html>