<h1>Ｗelcome to Shop-in</h1>
<br>
<br>


<div class="news">
  <div class="news-title">What's new?</div>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet error modi odio autem culpa laboriosam provident, pariatur, praesentium eaque quasi nulla temporibus fugiat officia nesciunt labore ullam ipsa, quaerat distinctio!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi repellendus a magnam, ipsum illum voluptas doloremque alias praesentium, nobis sit iure officia voluptatibus enim nisi atque natus adipisci quo, mollitia eum soluta nemo. Eaque quos veritatis reprehenderit molestias ratione aut architecto officiis soluta ad maiores earum deserunt porro eum vel magnam, iusto atque obcaecati, dolorem deleniti praesentium accusamus voluptatem. Ipsum, itaque veritatis non, quo iusto fuga quas amet odit nulla voluptatum optio vitae quia nobis, quod odio aliquid! Nulla vero, quas laudantium ratione amet tenetur asperiores consequuntur minus rerum ex quo id accusantium numquam? Ea ad aliquam minima quaerat.</p>
</div>